<%= form_for(internship) do |f| %>
  <% if internship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(internship.errors.count, "error") %> prohibited this internship from being saved:</h2>

      <ul>
      <% internship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :latitude %>
    <%= f.text_field :latitude %>
  </div>

  <div class="field">
    <%= f.label :longitude %>
    <%= f.text_field :longitude %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :company %>
    <%= f.text_field :company %>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.text_field :date %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
    <% if f.object.image? %>
      <%= image_tag f.object.image.url %>
      <%= f.label :remove_image %>
      <%= f.check_box :remove_image %> 
    <% end %>
  </div>

  <div class="field">
    <%= f.label :carouselImage1 %>
    <%= f.file_field :carouselImage1 %>
    <% if f.object.carouselImage1? %>
      <%= image_tag f.object.carouselImage1.url %>
      <%= f.label :remove_carouselImage1 %>
      <%= f.check_box :remove_carouselImage1 %> 
    <% end %>
  </div>

    <div class="field">
    <%= f.label :carouselImage2 %>
    <%= f.file_field :carouselImage2 %>
    <% if f.object.carouselImage2? %>
      <%= image_tag f.object.carouselImage2.url %>
      <%= f.label :remove_carouselImage2 %>
      <%= f.check_box :remove_carouselImage2 %> 
    <% end %>
  </div>

  <div class="field">
    <%= f.label :carouselImage3 %>
    <%= f.file_field :carouselImage3 %>
    <% if f.object.carouselImage3? %>
      <%= image_tag f.object.carouselImage3.url %>
      <%= f.label :remove_carouselImage3 %>
      <%= f.check_box :remove_carouselImage3 %> 
    <% end %>
  </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
