<!DOCTYPE html>
<html>
  <head>
    <title>MediaSeminar</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header class="navbar navbar-inverse" role="navigation">
  	<div class="container1">
  		<% flash.each do |message_type, message| %>
  		<div class="alert alert-<%=message_type %>"><%=message %></div>
    </div>
  		<%end%>
  	
  		<div class="container">
  			<nav class="text-center">
  				<h1><%= image_tag "newLogo.png", :width => "350px", :height => "auto", :class => "style_image" %></h1>
  			<ul class="nav navbar-nav navbar-left">
            <li><%= link_to "Home", :controller => 'home', :action => 'index'%></li>
  					<li><%= link_to "Speaker Series", :controller => 'schedule', :action => 'about' %></li>
  					<li><%= link_to "Requirements", '#' %></li>
  					<li><%= link_to "Internships", :controller => 'internships', :action => 'index' %></li>
  			</ul>
  			</nav>
        </div>
        <div class="top-line"></div>
  	</header>
  	<div class="container">
  		<br /><br /><br />
	<%= yield %>
  	</div>

  	<div class="footer">
      <div class = "footImg">
  		<p><%= image_tag "newLogo.png", :width => "150px", :height => "auto" %></p>
    </div>
    <div class="footInfo">
      <p>Pulliam Center For Contemporary Media<br>609 S. Locust St.<br>Greencastle, IN 46135<br>DePauw University<br>P: 765-658-4475<br>F: 765-658-4455</p>
    </div>
    <div class = "footSocial">
      <h5>Follow Media Fellows</h5>
      <p class="socImg"><a href="http://twitter.com/DePauwU" target="_blank"> <%= image_tag "social-icons-30x30-eee-tw.png", :width => "30px", :height => "auto"%></a></p>
      <p class="socImg"><a href="http://www.facebook.com/DePauwUniversity" target="_blank"><%= image_tag "social-icons-30x30-eee-fb.png", :width => "30px", :height => "auto" %></a></p>
      <p class="socImg"><a href="https://www.instagram.com/depauw/" target="_blank"><%= image_tag "social-icons-30x30-eee-ig.png", :width => "30px", :height => "auto" %></a></p>
    </div>
    </div>
  </body>
</html>
